*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.badge,
.badge__circle {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
}

.badge {
  height: 12.5rem;
  width: 12.5rem;
  cursor: pointer;
}

.badge__icon {
  height: 4.375rem;
}

.badge__circle {
  height: 9.313rem;
  width: 9.313rem;
  background-color: #fff;
  box-shadow: inset 0px 8.5px 2px -1px #c6c1d2;
}

.badge--rock {
  background: rgb(220, 46, 78);
  background: linear-gradient(
    0deg,
    rgba(220, 46, 78, 1) 0%,
    rgba(221, 64, 93, 1) 100%
  );

  box-shadow: inset 0px -8.5px 2px -1px #9f1632;
}

.badge--paper {
  background: rgb(72, 101, 244);
  background: linear-gradient(
    0deg,
    rgba(72, 101, 244, 1) 0%,
    rgba(86, 113, 245, 1) 100%
  );

  box-shadow: inset 0px -8.5px 2px -1px #3144b7;
}

.badge--scissors {
  background: rgb(236, 158, 14);
  background: linear-gradient(
    0deg,
    rgba(236, 158, 14, 1) 0%,
    rgba(236, 169, 34, 1) 100%
  );
  box-shadow: inset 0px -8.5px 2px -1px #d78321;
}

.start-screen__scissors,
.start-screen__rock,
.start-screen__paper {
  transition: all 0.3s;
}

.start-screen__scissors:hover,
.start-screen__rock:hover,
.start-screen__paper:hover {
  transform: scale(1.1);
}

.start-screen__scissors:focus,
.start-screen__rock:focus,
.start-screen__paper:focus {
  transform: scale(1);
}
