@media only screen and (max-width: 980px) {
  .container {
    margin: 55px 20px;
  }
}

/* 675 */
@media only screen and (max-width: 625px) {
  /* html {
  } */

  html,
  body {
    overflow-x: hidden;
    height: 100%;
    font-size: 10px;
  }

  body {
    position: relative;
  }

  .container {
    margin: 55px 20px;
  }

  .message {
    margin-top: 80px;
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    border: none;
  }

  .message__button {
  }

  .ripple {
    left: 45%;
    bottom: 30%;
  }

  .modal__popup {
    width: 100vw;
    height: 100vh;
    top: -55px;
    left: -20px;
  }

  .selection {
    gap: 40px;
  }

  .move-block {
    animation: none;
  }
}
