@media only screen and (max-width: 675px) {
  html {
    /* font-size: 10px; or 9 */
    font-size: 9px;
  }

  .container {
    margin: 55px 20px;
  }

  .move-block {
    /* display: none; */
  }

  .message {
    left: 15%;
    bottom: 9%;
    margin-top: 0;
    text-align: center;
  }

  .ripple {
    left: 45%;
    bottom: 30%;
  }

  .modal__popup {
    width: 100vw;
    height: 100vh;
    top: -55px;
    left: -20px;
  }

  .selection__frame--player {
    position: relative;
    justify-content: flex-end;
    max-width: fit-content;
    flex: 1;
    order: -1;
  }

  .selection__frame--house {
    position: relative;
    justify-content: flex-start;
    align-content: center;
    max-width: fit-content;
    flex: 1;
    order: 1;
  }

  .selection__placeholder {
    flex: 1;
  }
}
