.message {
  margin-top: 50px;
  text-align: center;

  /* testing */
  position: absolute;
  left: 373px;
  bottom: 34px;
  /* left: 38.5%;
  bottom: 6.5%; */
}

.message__title {
  font-size: 54px;
  color: #fff;
  margin-bottom: 18px;
}

.message__button {
  font-weight: 600;
  letter-spacing: 1.3px;
  background-color: #fff;
  padding: 15px 60px;
  border-radius: 8px;
}

.message__button:hover {
  color: rgb(220, 46, 78);
  cursor: pointer;
  transform: scale(1.1);
}

.message__button:focus {
  transform: scale(1);
}
