/* change and animate column-gap to make space fo the result winner or loser and Replay button */
.selection {
  display: flex;
  gap: 60px;
  max-width: 960px;
  margin-top: 65px;
  text-align: center;
  justify-content: center;
}

.selection__frame--player {
  position: relative;
  justify-content: flex-end;
  max-width: fit-content;
  flex: 1;
  order: -1;
}

.selection__frame--house {
  position: relative;
  justify-content: flex-start;
  max-width: fit-content;
  flex: 1;
  order: 1;
}

.selection__title {
  margin-bottom: 40px;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.selection__placeholder {
  justify-content: flex-start;
  background-color: #131639a2;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.move-block {
  flex: 0;
  transition: flex 1s;
  /* border: 1px solid limegreen; */
  position: relative;
  animation: move 2s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

@keyframes move {
  from {
    flex: 0;
  }
  to {
    flex: auto;
  }
}

/* Ripple animation */
.ripple {
  position: absolute;
  left: 90px;
  bottom: 90px;
  z-index: -1;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
  animation-delay: 3s;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2),
      0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2),
      0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}
